<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.mgsystem.user.dao.UserDao">
	<select id="findAll" resultType="cn.tedu.mgsystem.user.entity.User">
		select * from user
	</select>
	<select id="findByAccount" parameterType="string"
		resultType="cn.tedu.mgsystem.user.entity.User">
		select * from user where account=#{user}
	</select>
	
	<insert id="insertUser">
		insert into user(account,password,name,ip,state,loginTime,createdTime,modifiyTime,createdUser,modifiyUser)
		 values (#{user.account},#{user.password},#{user.name},#{user.ip},
		 #{user.state},#{user.loginTime},#{user.createdTime},#{user.modifiyTime},#{user.createdUser},#{user.modifiyUser})
	</insert>
	
	<delete id="deleteUser" parameterType="Integer">
		delete from user where id=#{id}
	</delete>
	
	<update id="updateUser">
		update user set account=#{user.account},password=#{user.password},name=#{user.name},ip=#{user.ip},
		state=#{user.state},loginTime=#{user.loginTime},
		createdTime=#{user.createdTime},modifiyTime=#{user.modifiyTime},createdUser=#{user.createdUser},modifiyUser=#{user.modifiyUser} 
		where id=#{user.id}
	</update>
	<!-- 查询用户权限 -->
	<select id="findUserPermissions"
	        parameterType="integer" 
	        resultType="string">
		select 	m.info 
		from userpermission up,user u ,permission m
		where up.userId = u.id and up.permissionId = m.id 
		and	u.id = #{id}
	</select>
</mapper> 