.w{
  width: 1000px;
}

.btn-primary{
  background: #49a7ff;
  border:1px solid #49a7ff;
  //box-shadow: 0 3px 10px 1px #577cb2;
}
.btn-primary:hover{
  transition: .3s;
  background: #1976d2;
  border:1px solid #1976d2;
}