@media (min-width: 1200px) {
  .w{
    width: 870px;
    margin:0 auto;
  }
  .student-wrap {
    margin-top: 50px;
    .seat {
      width: 70%;
      background: #6ab7ff;
      height: 400px;
    }

    .student-detail {
      width: 30%;
      background: #888;
      height: 400px;

    }
  }
}


@media (min-width:768px) and (max-width: 1200px) {
  .w{
    width: 570px;
    margin:0 auto;
  }
  .student-wrap {
    margin-top: 50px;
    .seat {
      width: 70%;
      background: #6ab7ff;
      height: 400px;
    }

    .student-detail {
      width: 30%;
      background: #888;
      height: 400px;
    }
  }
}

@media (min-width:768px){
}


