@charset "utf-8";
$bg: #fff;
$w24:24px;
$w18:18px;
.bg {
  background: url(../img/bg.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
@media screen and(max-width: 480px) {
  .login {
    width: 100%;
    padding: 30px;
    margin: 100px auto 0 auto;
    //border-radius: 10px;
    background: $bg;
    //box-shadow: 0 0 50px 2px #717376;
    border-top: 2px solid #d4d4d4;
    border-bottom: 2px solid #d4d4d4;
    //输入框内边距
    input {
      padding-left: 40px;
      border: none;
      border-bottom: 1px solid #000;
    }
    input:focus{
      box-shadow: none;
      outline: none;
    }
    .form-control{
      border:none;
      box-shadow: none;
    }
    .logo {
      width: 100%;
      height: 70px;
      margin: 30px 0 50px 0;
    }
    //.input-img {
    //  height: $w18;
    //  width: $w18;
    //}
    .input-content {
      position: relative;
      border-bottom: 2px solid #9c9c9c;
    }
    .browse, .pwd-img, .account-img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .browse {
      right: 10px;
      height: $w18;
      width: $w24;
    }
    .pwd-img, .account-img {
      height: $w18;
      width: $w18;
      left: 10px;
    }
  }
}


@media screen and(min-width: 480px) {
  .login {
    width: 400px;
    padding: 50px;
    margin: 100px auto 0 auto;
    border-radius: 10px;
    background: $bg;
    box-shadow: 0 0 50px 2px #717376;
    //输入框内边距
    input {
      padding-left: 40px;
    }
    .logo {
      width: 100%;
      height: 70px;
      margin: 30px 0 50px 0;
    }
    .input-img {
      height: $w24;
      width: $w24;
    }
    .input-content {
      position: relative;
    }
    .browse, .pwd-img, .account-img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .browse {
      right: 10px;
    }
    .pwd-img, .account-img {
      width: $w24;
      height: $w24;
      left: 10px;
    }
  }
}