@charset "utf-8";
@import "../base/common";
$h44:44px;

@media screen and(max-width: 480px) {
  .create-wrap {
    width: 100%;
    margin: 30px auto 0 auto;
    background: $fff;
    padding: 20px;
    border-top: 2px solid $box-show-cd;
    border-bottom: 2px solid $box-show-cd;
  }
  .tip-txt {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .input-bg {
    line-height: 44px;
    height: 44px;
    margin-bottom: 10px;
    border-bottom: 1px solid $box-show-cd;

    .input-txt {
      border: none;
      background: none;
      line-height: $h44;
      height: $h44;
      width: 130px;
      //background: #000;
    }
  }
}

@media screen and(min-width: 480px) {
  .create-wrap {
    width: 500px;
    margin: 30px auto 0 auto;
    @include wrap-show;
    background: $fff;
    border-radius: 10px;
    padding: 20px 50px;
  }
  .tip-txt {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .input-bg {
    background: #f0f0f0;
    line-height: $h44;
    height: $h44;
    margin-bottom: 10px;
    span {
      margin-left: 15px;
    }
  }

  .input-txt {
    border: none;
    background: none;
    line-height: $h44;
    height: $h44;
  }
}